/* Estilo da caixa do Pomodoro Timer */

.pomodoro-box {
    border: 2px solid #ccc; /* Removido a borda colorida */
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9; /* Caixa clara no modo claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo geral da página */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

h1 {
    margin-bottom: 20px;
}

#timer {
    font-size: 3rem;
    color: #FF6F61; /* Laranja escuro */
    margin-bottom: 20px;
}

.input-time {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.input-time input {
    width: 60px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-music {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF6F61; /* Vermelho intenso */
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #C74B3A; /* Laranja escuro */
}

/* Estilo para o botão de modo noturno */
#toggle-dark-mode {
    background-color: #496A81; /* Azul acinzentado */
    color: white;
    padding: 10px 20px;
    border: 2px solid #4A4949;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o modo escuro */
body.dark-mode {
    background-color: #1A1A1A; /* Cinza escuro neutro */
    color: #FFFFFF; /* Texto branco */
}

body.dark-mode .pomodoro-box {
    border: 2px solid transparent; /* Borda transparente no modo escuro */
    background-color: #2C2C2C; /* Cinza médio para a caixa */
    color: #FFFFFF; /* Texto branco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dark-mode button {
    background-color: #FF6F61; /* Vermelho intenso */
    color: #FFFFFF; /* Texto branco */
}

.dark-mode input {
    background-color: #3D3D3D; /* Cinza mais claro */
    color: #FFFFFF; /* Texto branco */
}

.dark-mode button:hover {
    background-color: #C74B3A; /* Laranja escuro */
}

.dark-mode select {
    background-color: #555; /* Cinza escuro */
    color: #FFFFFF; /* Texto branco */
}

/* Estilo do timer no modo escuro */
.dark-mode #timer {
    color: #FF6F61
    ; /* Laranja escuro */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
/* Estilo para o footer no modo escuro */
footer.dark-mode {
    background-color: #1A1A1A; /* Fundo escuro */
    color: #FFFFFF; /* Texto branco */
}

footer.dark-mode .nav {
    background-color: #333; /* Cor da barra de navegação no modo escuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

footer.dark-mode a {
    color: #FFFFFF; /* Ícones e texto no modo escuro */
}

footer.dark-mode a:hover,
footer.dark-mode a:active {
    background-color: #BF0F13; /* Cor de fundo ao hover e active */
}


/* Ajustes para o corpo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background: #5B190A;
    color: white;
    font-size: large;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    position: relative;
}
.logo{
    object-fit: cover;
    height: 5%;
    width: 5%;
    margin-right: 5px;
}
.header-texto{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

footer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding-top: 3%;
    width: 100%;
    margin-bottom: 1%;

}

.nav{
    width: 100%;
    max-width: 650px;
    height: 60px;
    border-radius: 12px;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     background-color: #D9D9D9;
     box-shadow: 0 5px 6px 1px #000;
 }

 a{
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 5%;
}
a:active{
    background-color: #BF0F13
}
a:hover{
    background-color: #BF0F13;
}
