html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.logo{
  justify-content: center;
  align-items: center;
  display: flex;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mb-4{
  width: 10%;
  height: 10%;
  align-items: center;
  justify-content: center;
}

#cadastro{
  margin-top: 8px;
  background-color: #496a81;
  border: none;
}

#login{
  background-color: #496a81;
  border: none;
}
