{% block conteudo %}
   {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'metas/metas.css' %}">
    <script src="{% static 'metas/metas.js' %}" defer></script>
    <title>Metas Diárias</title>
</head>

<header>
    <img src="{% static 'images/Logo.PNG' %}" class="logo" alt="Logo">
    <h1 class="header-texto">PomoDojo</h1>
</header>

<body>
    <main>
        <div class="container">
            <h1>Metas Diárias</h1>


            <!-- Formulário para adicionar novas metas -->
            <form id="goalForm">
                <input type="text" id="newGoal" placeholder="Digite sua meta" required>
                <button type="submit" id="addGoal">Adicionar Meta</button>
            </form>


            <!-- Lista de metas -->
            <ul id="goalList"></ul>
        </div>
    </main>

    <footer>
        <div class="nav">
            <a href="{% url 'pomodoro' %}"><img src="{% static 'images/footer/dojo 1.svg' %}" alt="Pomodoro"></a>
            <a href=""><img src="{% static 'images/footer/calendario 1.svg' %}" alt="Calendário"></a>
            <a href="{% url 'metas' %}"><img src="{%static 'images/footer/5803966_checklist_clipboard_task_todo_icon 1.svg' %}"></a>
            <a href="{% url 'usuarioPage' %}"><img src="{% static 'images/footer/perfil 1.svg' %}" alt="Perfil"></a>
        </div>
    </footer>
</body>
</html>
{% endblock %}
