<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{%load static%}

</head>

<body>
    <div class = "header">
        <img src="{%static 'images/Logo.PNG' %}" class="logo">
        <h9>PomoDojo</h9>

    </div>
    

    <div class="footer">
        <div class="nav">
            <a href="{% url 'pomodoro' %}"><img src="{% static 'images/footer/dojo 1.svg' %}"></a>
            <a href=""><img src="{%static 'images/footer/calendario 1.svg' %}"></a>
            <a href=""><img src="{%static 'images/footer/5803966_checklist_clipboard_task_todo_icon 1.svg' %}"></a>
            <a href=""><img src="{%static 'images/footer/perfil 1.svg' %}"></a>
        </div>

    </div>

</body>
</html>