{% block conteudo %}
   {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'metas/metas.css' %}">
    <script src="{% static 'metas/metas.js' %}" defer></script>
    <title>Suporte técnico</title>
</head>

<header>
    <img src="{% static 'images/Logo.PNG' %}" class="logo" alt="Logo">
    <h1 class="header-texto">PomoDojo</h1>
</header>

<body>
    <main>
        <form id="techsupport" method="POST">
          {% csrf_token %}
          
            <label for="name">Nome</label>
            {{form.name}}
            <label for="email">email</label>
            {{form.email}}
            <label for="name">Telefone</label>
            {{form.phone}}
            <label for="comentario">Digite seu problema :</label>
            {{form.comentario}}

          <button type="submit"> Enviar</button>  
        </form>
    </main>

    

    <footer>
        <div class="nav">
            <a href="{% url 'pomodoro' %}"><img src="{% static 'images/footer/dojo 1.svg' %}" alt="Pomodoro"></a>
            <a href="{% url 'historico' %}"><img src="{% static 'images/footer/calendario 1.svg' %}" alt="Calendário"></a>
            <a href="{% url 'metas' %}"><img src="{%static 'images/footer/5803966_checklist_clipboard_task_todo_icon 1.svg' %}"></a>
            <a href="{% url 'usuarioPage' %}"><img src="{% static 'images/footer/perfil 1.svg' %}" alt="Perfil"></a>
        </div>
    </footer>
</body>
</html>
{% endblock %}
