<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuario</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'usuarioPage.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    
</head>
<body>
    <div class = "header">
        <img src="{%static 'images/Logo.PNG' %}" class="logo">
        <h9>PomoDojo</h9>

    </div>
    <div class="main">
        <div class="container">
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                
                
                <div>
                    <label for="first_name">Primeiro Nome</label>
                    {{ form.first_name }}
                </div>
                <div>
                    <label for="last_name">Sobrenome</label>
                    {{ form.last_name }}
                </div>
                <div>
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                <div>
                    <label for="image">Foto de Perfil</label>
                    {{ form.image }}
                    <p> {{ form.image }} </p>
                </div>
                <button type="submit">Salvar alterações</button>
            </form>
        </div>        
    </div>

    <footer>
        <div class="nav">
            <a href="{% url 'pomodoro' %}"><img src="{% static 'images/footer/dojo 1.svg' %}"></a>
            <a href=""><img src="{%static 'images/footer/calendario 1.svg' %}"></a>
            <a href="{% url 'metas' %}"><img src="{%static 'images/footer/5803966_checklist_clipboard_task_todo_icon 1.svg' %}"></a>
            <a href="{% url 'usuarioPage' %}"><img src="{%static 'images/footer/perfil 1.svg' %}"></a>
        </div>
    
    </footer>
</body>
</html>
