<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuario</title>
    <link rel="stylesheet" href="usuarioPage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    
</head>
<body>
    <div class = "header">
        <img src="../Capturar.PNG" class="logo">

    </div>
    <div class="main">
        <div class="profile">
            <div class="profile-img">
                <img src="../Ellipse 4.png" class="ellipse">
            </div>
            <div class="profile-name">
                <p>User Name</p>
            </div>
            <div class="profile-date">
                <p>dd/mm/yyyy</p>
            </div>
        </div>
        <div class="barrasDeProgresso">
            <div class="barrasDeProgressoIndividual">
                <p>Concentração</p>
            </div>
            <div class="barrasDeProgressoIndividual">
                <p>Ciclos Concluidos</p>
            </div>
            <div class="barrasDeProgressoIndividual">
                <p>Metas de ciclos</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="nav">
            <a href="../usuarios/usuarioPage.html"><img src="../dojo 1.svg"></a>
            <a href=""><img src="../calendario 1.svg"></a>
            <a href=""><img src="../5803966_checklist_clipboard_task_todo_icon 1.svg"></a>
            <a href=""><img src="../perfil 1.svg"></a>
        </div>

    </div>

</body>
</html>