body{
    height: 100%;
}

.header {
    padding: 5%;
    text-align: center;
    background: #7A73FF;
    color: white;
    font-size: large;
}
.logo{
    object-fit: cover;
    width: 50%;
}
.main {
    display: flex;
    padding: 30%;
    height: 55vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e8e7fa;
    color: white;
    font-size: large;
    font-family: Montserrat;
}
.profile{
    display: flex ;
    
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    
}

.profile-img{
    object-fit: cover;
    border-radius: 50%;
    

}

.profile-name{
    color : #000
}
.profile-date{
    color: rgb(138, 138, 138);
}

.barrasDeProgresso{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    
    
}


.barrasDeProgressoIndividual{
    width: 90vw;
    height: 5vh;
    background-color: #F3D8B9;
    border-radius: 1.5em;
    color: white;
    margin-bottom: 3vh;
}




.footer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding-top: 3%;
    width: 100%;

}
.nav{
   width: 100%;
   max-width: 650px;
   height: 60px;
   border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #D9D9D9;
    box-shadow: 0 5px 6px 1px #000;
}
a{
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 5%;
}
a:active{
    background-color: #7A73FF
}
a:hover{
    background-color: #7a73ffa1;
}
