<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuario</title>
    <link rel="stylesheet" href="usuarioPage.css">
</head>
<body>
    <div class = "header">
        <img src="../Capturar.PNG">

    </div>
    <div class="main">
        <div class="profile">
            <img src="../person-circle.svg" class="profile-img">            
        </div>
        <div class="barrasDeProgresso">
            <div class="barraDeProgresso barra 1" style="width: {{ progresso1 }}%;"></div>
            <div class="barraDeProgresso barra 1" style="width: {{ progresso2 }}%;"></div>
            <div class="barraDeProgresso barra 1" style="width: {{ progresso3 }}%;"></div>
        </div>
    </div>

</body>
</html>