{% block conteudo %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="{% static 'pomodoro/pomodoro.css' %}">
    <script src="{% static 'pomodoro/pomodoro.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>Pomodoro Timer</h1>
        <div id="timer">
            <span id="minutes">25</span>:<span id="seconds">00</span>
        </div>
        <div class="buttons">
            <button id="start-stop">Start</button>
            <button id="reset">Reset</button>
        </div>
    </div>
</body>
</html>
{% endblock %}