body{
    margin: 0;

}
header {
    background: #5B190A;
    color: white;
    font-size: large;
    align-items: center;
    justify-content: center;
    display: flex;
}
.logo{
    object-fit: cover;
    height: 5%;
    width: 5%;
    margin-right: 5px;
}

.title{
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Arial, sans-serif;
}

.task{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caixa{
    border: 1px solid #F29797;
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.container{
    height: 30rem;
    width: 25rem;
    background-color: #EDEDED;
    border-radius: 15px;
    
}


main{
    display: flex;
    padding: 1%;
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: Arial, sans-serif;
}

footer{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    padding-top: 3%;
    width: 100%;

}
.nav{
   width: 100%;
   max-width: 650px;
   height: 60px;
   border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #D9D9D9;
    box-shadow: 0 5px 6px 1px #000;
}
a{
    display: grid;
    place-items: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 5%;
}
a:active{
    background-color: #BF0F13
}
a:hover{
    background-color: #BF0F13;
}